{%extends "base.html"%}
                
{% block content %}

<br/>
<br/>
<br/>
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Profile <span class="glyphicon glyphicon-list" aria-hidden="true"></span></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        	
        	<div class="form-group">
                <label for="inputEmail" class="col-sm-3 control-label">Email</label>
				
                <input type="email" class="form-control" name="inputCorreo" id="inputCorreo" disabled value="{{ user.userEmail }}">
                
            </div>
        	
        	
            <div class="form-group">
                <label for="inputName" class="col-sm-3 control-label">User Full Name</label>
				
                
                <input type="text" class="form-control" name="inputName" id="inputName" disabled value="{{ user.userName }}">
               
            </div>
            
            <div class="form-group">
                <div class="text-center">
                    <a href="javascript:deleteUser()" class="btn btn-success">Delete Profile</a>
                </div>
            </div>
            
        
    </div>
    
    
    
    
    
</div>

{% endblock content %}