<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
        <meta name="description" content=""></meta>
        <meta name="author" content=""> </meta>
        
       


        <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="/static/css/style.css" rel="stylesheet"/>
        <title>Images Service</title>
          

    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {%if user.userEmail %}
                        <li>
                            <a href="/images"> <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>&nbsp;Images</a>
        
                        </li>
                        
                        <li>
                            
                            <a href="/profile"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;Profile</a>
                            
                        </li> 
                      
                       
                        <li>		
                            <a href="javascript:logout()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;LogOut</a>
                            
                        </li>
                        {% endif %}
                    
                     
                    </ul>
                </div>
            </div>
                <!-- /.navbar-collapse -->
        </nav>
       
        <!-- Page Content -->
        <div class="container">

            <div class="row">
                
                {% block content %}
                {% endblock content %}
               
            </div>
        
        </div>
        <!-- /.container -->
        <!-- jQuery Version 1.11.1 -->
        <script src="static/js/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="static/js/bootstrap.min.js"></script>

        <!--FIREBASE-->
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->

        <script src="https://www.gstatic.com/firebasejs/7.20.0/firebase-auth.js"></script>

        <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyAsscWbP6XmqlRYTU--oGL843AdmT8SmfE",
            authDomain: "webtfg-fb498.firebaseapp.com",
            databaseURL: "https://webtfg-fb498.firebaseio.com",
            projectId: "webtfg-fb498",
            storageBucket: "webtfg-fb498.appspot.com",
            messagingSenderId: "765902418404",
            appId: "1:765902418404:web:f857dbed651a8ec71817f1"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        </script>


        <!--FIREBASE-->

        <!--SCRIPT LOGOUT AND LOGIN-->
            <script>
                function logout(){
             
                firebase.auth().signOut();
                state();
                window.location.href = "http://127.0.0.1:6001/logout";
                }

                function login(){

                    
                    var provider = new firebase.auth.GoogleAuthProvider();
                    firebase.auth().signInWithPopup(provider).then(function(result) {
                    // This gives you a Google Access Token. You can use it to access the Google API.
                    var token = result.credential.accessToken;
                    // The signed-in user info.
                    var user = result.user;
                    state();
                    // ...
                    }).catch(function(error) {
                    // Handle Errors here.
                    var errorCode = error.code;
                    console.log(errorCode);
                    });
 
                    
                }
                function state (){
                    firebase.auth().onAuthStateChanged((user) => {
                    if (user) {
                        console.log("signin");
                        var name = user.displayName;
                        var email = user.email;
                        var req = new XMLHttpRequest();
                        req.onreadystatechange = function()
                        {
                        if(this.readyState == XMLHttpRequest.DONE && this.status == 200) {
                            
                            window.location.href = "http://127.0.0.1:6001/images";
                        } 
                        }
                        req.open('POST', 'http://127.0.0.1:6001/login', true);
                        req.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded;charset=UTF-8');
                        req.setRequestHeader('Access-Control-Allow-Origin','*');
                        req.send("userName=" + name +"&userEmail="+email);
                        
                    } else {
                        console.log("Sign out from Google");
                       
                    }
                    });
                }
                function deleteUser(){
             
                firebase.auth().signOut();
                
                
                window.location.href = "http://127.0.0.1:6001/delete";
                }

              
                






            </script>
        <!--SCRIPT LOGOUT AND LOGIN-->







       
    </body>




</html>
