{% extends "base.html" %}
{% block content %}

</br>
</br>
</br>
<div class="row">
<div class="form-group">
    <div class="text-center">
        <img src="data:image/jpg;base64, {{myImage}}" style="width:50%;height:50%;"/>
    </div>
    <div class="form-group">
        <div class="text-center">
        </div>
    </div>
    <div class="form-group">
        <div class="text-center">
        </div>
    </div>
    <div class="form-group">
        <div class="text-center">
            <a href="/images" class="btn btn-success">Go Back</a>
        </div>
    </div>
</div>
</div>

{% endblock content %}