{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>New Physical Device <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form class="form-horizontal" role="form" action="" method="post">
            <div class="form-group">
                <label for="inputName" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputName" id="inputName" placeholder="IoT Connector Name" required>
                </div>
            </div>

            <div class="form-group">
                <label for="inputType" class="col-sm-3 control-label">Type</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputType" id="inputType" placeholder="IoT Connector type" required>
                </div>
            </div>

            <div class="form-group">
                <label for="inputIp" class="col-sm-3 control-label">IP</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputIp" id="inputIp" placeholder="IoT Connector IP" required>
                </div>
            </div>

            <div class="form-group">
                <label for="inputPort" class="col-sm-3 control-label">Port</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputPort" id="inputPort" placeholder="IoT Connector Port" required>
                </div>
            </div>

            <div class="form-group">
                <label for="inputToken" class="col-sm-3 control-label">Token</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputToken" id="inputToken" placeholder="IoT Connector Token" required>
                </div>
            </div>

            <div class="form-group">
                <label for="inputMAC" class="col-sm-3 control-label">Mac</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="inputMac" id="inputMac" placeholder="IoT Connector Mac" required>
                </div>
            </div>

            <div class="form-group text-center">

                <a class="btn btn-default " href="/viewDevices/{{shadow_id}}">
                    Cancel
                </a>
                <button type="submit" value="submit" class="btn btn-success" onclick="return confirm('Are you sure?')">
                    Create
                    <span style="margin-left: 5px;" class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>

{% endblock content %}

